{% extends 'base.html.twig' %}

{% block title %}Event infos{% endblock %}

{% block body %}

{% for message in app.flashes("subscription_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_update_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<header>
    <h1>
        Delete: {{event.title}}
    </h1>
</header>

<p>Do you want to delete the event "<strong>{{ event.title }}</strong>" and all of his occurrences or only occurrences?
</p>
{# {{ form_errors() }} #}
{{ form_start }}
    <button type="submit" name="action" value="delete_event" class="btn btn-danger">Delete Event and Occurrences</button>
    <button type="submit" name="action" value="delete_occurrences" class="btn btn-warning">Delete Only Occurrences</button>

{{ form_end }}

<a href=" {{ path ("event", {id: event.id})}}">Cancel</a>


{% endblock %}