{% extends 'base.html.twig' %}

{% block title %}Event infos{% endblock %}

{% block body %}

{% for message in app.flashes("subscription_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_update_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<header>
    <h1>
        {{event.title}}
    </h1>
</header>

<div>
<h3>Practical informations</h3>
    <div>
        <p>Type: {{event.eventType.value}}</p>
        <p>Starts: {{event.dateStart | date("d/m/y H:i")}}</p>
        <p>Ends: {{event.dateEnd | date("d/m/y H:i")}}</p>
        <p>Fee: {{event.fee}}</p>
        <p>Where:
            <ul>
            {% for place in places %}
                <li>{{place.gamingPlace.name}}: <br>
                    {{place.gamingPlace.address.street}}, {{place.gamingPlace.address.number}}<br>
                    {{place.gamingPlace.address.postCode}}  {{place.gamingPlace.address.city}}
                </li>
            {% endfor %}
            </ul>   
        </p>
    </div>
    <h3>About the event</h3>
    <div>
        <p>{{event.description}}</p>

        <div class="div-btn">
            <button class ="btn btn-primary btn-block">
                <a href="{{ path ('event_subscription', {id:event.id})}}" >Subscribe</a>
            </button>
            {% if is_granted("ROLE_ADMIN") %}
                <button class="btn btn-primary btn-block">
                    <a href="{{ path ('update_event', {id:event.id})}}">
                        ✏️ Update this event
                    </a>
                </button>
                <button class="btn btn-primary btn-block">
                    <a href="{{ path ('delete_event', {id:event.id})}}">
                        ❌ Delete this event
                    </a>
                </button>
            {% endif %}
        </div>
    </div>
</div>
<br>

<div>
    <h3>All the dates for this event</h3>
    <ul>
        {% for occurrence in occurrences %}
            <li>{{ occurrence.startDate|date('d-m-Y H:i') }} - {{ occurrence.endDate|date('d-m-Y H:i') }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
