{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}


    <header>
        <h1>Update: {{event.title}} </h1>
    </header>

    {{ form_errors(form) }}
<div class="login-block">
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.dateStart) }}
        {{ form_row(form.dateEnd) }}
        {{ form_row(form.recurrenceType) }}
        {{ form_row(form.recurrenceEnd) }}
        {{ form_row(form.eventType) }}
        {{ form_row(form.fee)}}
        {{ form_row(form.description) }}


        {# <button type="submit" class="btn">Update</button> #}
    {{ form_end(form) }}
</div>
{% endblock %}
