{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <header>
        <h1>Subscribe to: {{event.title}}</h1>
    </header>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    
{{ form_end(form) }}
{% endblock %}
