{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <header>
        <h1>Subscribe to: {{event.title}}</h1>
    </header>
{# <div class="login-block"> #}
    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.occurrenceDates) }}
        {{ form_row(form.numberParticipants) }}
    <div class="div-btn">
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
