{% extends "base.html.twig" %}

{% block title %}Update Occurrence{% endblock %}

{% block body %}

{% for message in app.flashes("subscription_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_update_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_delete_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<header>
    <h1>
        {{event.title}} : {{occurrence.dateStart|date("d-m-Y")}}
    </h1>
</header>

<div class="login-block">
    {{ form_errors (form)}}
    {{form_start (form)}}

    {{form_end (form)}}
</div>

{% endblock %}
