{% extends 'base.html.twig' %}

{% block title %}Event infos{% endblock %}

{% block body %}

{% for message in app.flashes("subscription_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_update_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<header>
    <h1>
        {{event.title}}
    </h1>
</header>

{% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path ('update_event', {id:event.id})}}">✏️</a>
    <a href="{{ path ('delete_event', {id:event.id})}}">❌</a>
{% endif %}

<div>
<h3>Practical informations</h3>
    <div>
        <p>Type: {{event.eventType.value}}</p>
        <p>Starts: {{event.dateStart | date("d/m/y H:i")}}</p>
        <p>Ends: {{event.dateEnd | date("d/m/y H:i")}}</p>
        <p>Fee: {{event.fee}}</p>
    </div>
    <h3>About the event</h3>
    <div>
        <p>{{event.description}}</p>

    <button>
        <a href="{{ path ('event_subscription', {id:event.id})}}" >Subscribe</a>
    </button>
    </div>

</div>

<div>
    <h3>All the dates for this event</h3>
    <ul>
        {% for occurrence in occurrences %}
            <li>{{ occurrence.startDate|date('d-m-Y H:i') }} - {{ occurrence.endDate|date('d-m-Y H:i') }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
