{% extends 'base.html.twig' %}

{% block title %}Create Event{% endblock %}

{% block body %}

    <header>
        <h1>Create a new Event</h1>
    </header>

    {{ form_errors(form) }}
<div class="login-block">
    {{ form_start(form) }}
    <div class = "form-group">
        <h1>Event Info</h1>

        {{ form_widget(form.title) }}
        <hr class="hr-xs"> 
        {{ form_row(form.dateStart) }}
        {{ form_row(form.dateEnd) }}
        {{ form_row(form.recurrenceType) }}
        {{ form_row(form.recurrenceEnd) }}
        {{ form_row(form.eventType) }}
        {{ form_row(form.fee)}}
        {{ form_row(form.description) }}
    </div>
    <div class= "form-group">
        <hr class="hr-xs">
        <br>
        <h1>Gaming Places</h1>
        {% for eventPlace in form.eventPlaces %}
            {{ form_widget(eventPlace.gamingPlace.name)}}
            {{ form_row(eventPlace.gamingPlace.type)}}
            {{ form_row(eventPlace.gamingPlace.placeMax)}}
            {{ form_widget(eventPlace.gamingPlace.description)}}


            <hr class="hr-xs">
            <br>
            <h1>Address</h1>
            {{ form_widget(eventPlace.gamingPlace.address.locality)}}
            <hr class="hr-xs">
            {{ form_widget(eventPlace.gamingPlace.address.street)}}
            <hr class="hr-xs">
            {{ form_widget(eventPlace.gamingPlace.address.number)}}
            <hr class="hr-xs">
            {{ form_widget(eventPlace.gamingPlace.address.postCode)}}
            <hr class="hr-xs">
            {{ form_widget(eventPlace.gamingPlace.address.city)}}
            <hr class="hr-xs">
            {{ form_widget(eventPlace.gamingPlace.address.country)}}
            <hr class="hr-xs">
        {% endfor %}
    </div>
        {{ form_widget (form.save)}}
        <br>
        {{form_end (form)}}
    {# {{ form_end(form,{'render_rest': false}) }} #}
</div>
{% endblock %}
