{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <header>
        <h1>Subscribe to: {{event.title}}</h1>
    </header>
{# <div class="login-block"> #}
    {{ form_errors(form) }}

    {{ form_start(form) }}
    {# <div class="occurrences"> #}
    {% for occurrence in form.vars.occurrences %}
        {# <div class="form-group"> #}
            {{ form_row(form["occurrence_"~ occurrence.id]) }}
            {{ occurrence.dateStart|date('d-m-Y H:i')}}
        </div>
    {% endfor %}
        {# <div class="form-group"> #}
            {{ form_row(form.numberParticipants) }}
        </div>        
    </div>
    <div class="div-btn">
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
