{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<header>    
    <h1>Change your password</h1>
</header>

    {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}
        {# {{ form_row(form.repeatPassword) }} #}


        <div class="div-btn">
            {{ form_widget(form.changePassword)}}
        </div>
    {{ form_end(form) }}
{% endblock %}
