{% extends "base.html.twig" %}

{% block title %}Update Occurrence{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

<header>
    <h1>
        {{event.title}}
    </h1>
</header>

<div class="login-block">
    {{ form_errors (form)}}
    {{form_start (form)}}
    {{ form_row (form.dateStart)}}
    {{ form_row (form.dateEnd)}}

    {{ form_widget (form.save,{"label":"Create"})}}

    {{form_end (form)}}
</div>

{% endblock %}

