{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<header>
<h1>{{app.user.firstname}}</h1>
</header>

<div class = "div-onglets">
    <button class = "onglets-btn" data-index = "0">My informations</button>
    <button class = "onglets-btn" data-index = "1">My calendar</button>
    <button class = "onglets-btn" data-index = "2">My subscriptions</button>
</div>

<div class = "mTop10">
    <div class="tab-content">
        <h2>Contenu onglet 1</h2>
    </div>
    <div class="tab-content">
        <h2>Contenu onglet 2</h2>
    </div>
    <div class="tab-content">
        <h2>Contenu onglet 3</h2>
    </div>
</div>
<h2>My informations</h2>

{{form_errors(form)}}
{{form_start(form)}}
{% if app.user.avatar %}
    <div class = "avatar">
        <label>My avatar</label>
        <img src=" {{ vich_uploader_asset(app.user,"avatarFile")}}" alt="avatar">
    </div>
{% else %}
    <div>
        <label>Change Avatar</label>
        {{form_widget (form.avatarFile)}}  
    </div>      
{% endif %}

    {{form_row (form.firstName)}}
    {{form_row (form.lastName)}}
    {{form_row (form.phoneNumber)}}
    {{form_row (form.email)}}
    <a href="{{ path ("change_password")}}" class = "card-link">Change password</a>
<div class="div-btn">
        <button class= "btn btn-primary btn-block" type = "submit">Update</button>
    
</div>{{form_end(form, {"render_rest":false})}}


{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags("profile") }}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags("profile")}}
{% endblock %}
