{% extends 'base.html.twig' %}

{% block title %}Events calendar{% endblock %}

{% block body %}

<header>
    <h1>My Calendar</h1>
</header>

{# calendrier #}

<div id="calendrier"
    class="calendar"  
    data-roles = "
    {% if app.user %}
        {{app.user.roles |json_encode()}}
    {% else %} 
        {{ [] | json_encode() }}
    {% endif %}"
    data-calendrier="{{ occurrencesJson }}"  
    {% for event in events %}
        data-events-url="{{ path('event',{"id":event.id}) }}"
    {% endfor %}>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

