{% extends 'base.html.twig' %}

{% block title %}Events Map{% endblock %}

{% block body %}

<header>
    <h1>Events Map</h1>
</header>

<div class = "div-btn">
    <button class ="btn btn-primary btn-block">
        <a href="{{ path ('event_search')}}">Back to search page</a>
    </button>
</div>



<div class="event-content">
    <div class="grid-item">
        <h2>Gaming Places Addresses</h2>
        
        <ul>
        {% for gamingPlace in gamingPlaces %}
            <li>{{ gamingPlace.name}}:
            <br>
                {{gamingPlace.address.street}}, {{gamingPlace.address.number}} 
                <br>
                {{gamingPlace.address.postCode}} {{gamingPlace.address.city}}
            </li>
            
        {% endfor %}
            {# {% for event in events %}
                <li></li>
            {% endfor %} #}
        </ul>

    </div>
    <div class="grid-item">
        <div id="map"></div>
    </div>
</div>



{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('map')}}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('map')}}
{% endblock %}
