{% extends 'base.html.twig' %}

{% block title %}Events search{% endblock %}

{% block body %}

{% for message in app.flashes("subscription_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_delete_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_update_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_create_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<header>
    <h1>All the events are here</h1>
</header>


{# <div class="login-block"> #}
<div class = "search-div-container">
    <div class = "search-div">
    {{ form_errors(form) }}
        {# <h1>Search your events here</h1> #}
        {{ form_start(form, {"attr" : {"id": "SearchForm"}}) }}
        <img src="/images/loupe.png" alt="loupe" id = "SearchIcon">
        {{form_widget(form.search, {"attr" : {"id": "SearchInput"}})}}
        
        {{ form_end(form) }}
    </div>
        <div class="search-links">
            <a href="{{ path ("calendar")}}">Calendar</a>
            <a href="">Map</a>
        </div>
</div>

<div class="nav">
    {# <p>Search by type: </p> #}
    <nav class="navbar">
        <div class="type-search">
            <a href="{{ path ('search_type',{type: "tournament"})}}">Tournament</a>
            <img src="/images/tournament.png" alt="tournament">
        </div>
        <div class="type-search">
            <a href="{{ path ('search_type',{type: "festival"})}}">Festival</a>
            <img src="/images/festival.png" alt="festival">
        </div>        
        <div class="type-search">
            <a href="{{ path ('search_type',{type: "boardgames_demo"})}}">Boardgames Demo</a>
            <img src="/images/boardgames_demo.png" alt="boardgames-demo">
        </div>        
        <div class="type-search">
            <a href="{{ path ('search_type',{type: "role_play"})}}">Role Play</a>
            <img src="/images/role_play.png" alt="role-play">
        </div>        
        <div class="type-search">
            <a href="{{ path ('search_type',{type: "gaming_sales"})}}">Gaming Sales</a>
            <img src="/images/gaming_sales.png" alt="gaming-sales">
        </div>    
    </nav>
</div>


<div class = "div-btn">
    {% if is_granted ("ROLE_ADMIN") %}
        <button class ="btn btn-primary btn-block">
            <a href="{{ path ('create_event')}}">Create new event</a>
        </button>
    {# Page to search the event to update it#}
    {# <a href="{{ path ('update_events')}}">Update an event</a> #}
    {% endif %}
</div>
<br>
<div id ="SearchResult" class = "card-section">
{# In controller: if no research put all the events #}
    
    {% for event in events %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path ('event',{id:event.id})}}">
                        {{event.title}}
                    </a>
                </h5>
                <div class ="card-type">
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{event.eventType.value}}</h6>
                    <img src="/images/{{event.eventType.value}}.png" alt="{{event.eventType.value}}">
                </div >
                <hr class="hr-xs">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class = "card-link-div">
                    <a href="{{path ("event", {id: event.id})}}" class="card-link">More info</a>
                    <a href="{{ path ("event_subscription", {id:event.id})}}" class="card-link">Subscribe</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <br>
                        <a href="{{ path ('update_event', {id:event.id})}}"class="card-link">✏️</a>
                        <a href="{{ path ('delete_event', {id:event.id})}}"class="card-link">❌</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}

