{% extends 'base.html.twig' %}

{% block title %}Events search{% endblock %}

{% block body %}

{% for message in app.flashes("subscription_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_delete_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_update_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes("event_create_success") %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<header>
    <h1>All the events are here</h1>
</header>


{{ form_errors(form) }}
<div class="login-block">
    <h1>Search your events here</h1>
    {{ form_start(form, {"attr" : {"id": "SearchForm"}}) }}
    {{form_widget(form.search)}}
    {{ form_end(form) }}
</div>
<br>

<div class = "div-btn">
    {% if is_granted ("ROLE_ADMIN") %}
        <button class ="btn btn-primary btn-block">
            <a href="{{ path ('create_event')}}">Create new event</a>
        </button>
    {# Page to search the event to update it#}
    {# <a href="{{ path ('update_events')}}">Update an event</a> #}
    {% endif %}
</div>
<br>
<div id ="SearchResult" class = "card-section">
{# In controller: if no research put all the events #}
    
        {% for event in events %}
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ path ('event',{id:event.id})}}">
                    {{event.title}}
                </a>
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{event.eventType.value}}</h6>
            <hr class="hr-xs">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{path ("event", {id: event.id})}}" class="card-link">More info</a>
            <a href="{{ path ("event_subscription", {id:event.id})}}" class="card-link">Subscribe</a>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path ('update_event', {id:event.id})}}"class="card-link">✏️</a>
                <a href="{{ path ('delete_event', {id:event.id})}}"class="card-link">❌</a>
            {% endif %}
        </div>
    </div>

        
        

        
            
        {% endfor %}
</div>


{% endblock %}
